@page "/exit"
@rendermode RenderMode.InteractiveServer
@inject ILocalStorageService localStorage

<h3>Tack för ditt besök</h3>
<h4>Du köpte</h4>

<table class="table table-light">
    <thead class="table-primary">
        <tr>
            <th>Item</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in CartList)
        {
            <tr>
                <td>@item.Name</td>
            </tr>
        }
    </tbody>
</table>

<h4>Ordern skickas till:</h4>
<p>@cart.Name</p>
<p>@cart.Adress</p>



@code {
    public List<Item> CartList { get; set; } = new List<Item>();
    public Cart cart { get; set; } = new Cart();
    public List<Item> EmptyCart { get; set; } = new List<Item>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var ItemCartData = await localStorage.GetItemAsync<List<Item>>("ItemCart");
            var CartData = await localStorage.GetItemAsync<Cart>("MyCart");

            if (ItemCartData is not null)
                CartList = ItemCartData;
            if (CartData is not null)
                cart = CartData;

            await localStorage.SetItemAsync<List<Item>>("ItemCart", EmptyCart);

            StateHasChanged();
        }

    }

    // protected override async Task OnInitializedAsync()
    // {
    //     var ItemCartData = await localStorage.GetItemAsync<List<Item>>("ItemCart");
    //     var CartData = await localStorage.GetItemAsync<Cart>("MyCart");

    //     if (ItemCartData is not null)
    //         CartList = ItemCartData;
    //     if (CartData is not null)
    //         cart = CartData;

    //     await localStorage.SetItemAsync<List<Item>>("ItemCart", EmptyCart);

    //     StateHasChanged();
    // }
}
